[defaults]
#inventory = ./inventory
display_skipped_hosts = False
display_args_to_stdout = True

# Use the YAML callback plugin.
stdout_callback = debug
# Use the stdout_callback when running ad-hoc commands.
bin_ansible_callbacks = True

[ssh_connection]
ssh_args= -C -o ControlMaster=auto -o ControlPersist=60s -F /dev/null

[persistent_connection]

# Configures the persistent connection timeout value in seconds.  This value is
# how long the persistent connection will remain idle before it is destroyed.
# If the connection doesn't receive a request before the timeout value
# expires, the connection is shutdown. The default value is 30 seconds.
connect_timeout = 60


ansible_user: ubuntu
ansible_ssh_private_key_file: "{{aws_key_pair_file}}"
ansible_ssh_extra_args: "-o StrictHostKeyChecking=no -F /dev/null"