\.*
!.gitignore
*.class
*.jar
**/target/
**/data/
**/bin/
!docker.local/bin/
**/pkg/
**github.com/
**golang.org/
**/go/sign
**/go/miner
**/go/sharder
**/go/blobber
**/go/test/miner_stress
**/examples/
**/hash/main.go
