__debug_bin
dev.local/build
code/coverage.txt
\.*
!.gitignore
!.github
!.gitlab-ci.yml
!.dockerignore
!.gitattributes
*.class
*.jar
**/target/
**/data/
**/log/
**/bin/
!bin/
!docker.local/bin/
!docker.aws/bin/
**/pkg/
**github.com/
**golang.org/
**/go/sign
**/go/miner
**/go/sharder
**/go/blobber
**/go/test/miner_stress
**/examples/
**/hash/main.go
*.iml
awsnet/credentials/
awsnet/testnet
awsnet/cookbook/*.retry
awsnet/cookbook/context
code/go/bin
*.code-workspace
gorocksdb/
docker.local/sharder*
docker.local/miner*
docker.local/benchmark*
*.log
*.sublime-project
*.sublime-workspace

# executables

code/go/0chain.net/sharder/sharder/sharder
code/go/0chain.net/sharder/miner/miner

# go test coverages
cover.html
cover.out


# conductor executable
code/go/0chain.net/conductor/conductor/conductor

conductor/logs/*

# log dumps
docker.local/log_dumps

# tar archives
*.tar.gz

**/vendor/

**/mocks/*
!**/mocks/mocks.go
!**/mocks/custom.go
!**/mocks/.gitkeep

mock_*.go

burn_error.txt

*.sst

code/go/0chain.net/smartcontract/benchmark/main/dbname_dataDir/

code/go/0chain.net/smartcontract/benchmark/main/main

dev.*.sh
./dev.local/bin/build
./dev.local/data
code/go/0chain.net/miner/miner/miner
code/go/0chain.net/sharder/sharder/sharder

docker.local/conductor.backup_logs
