\.*
!.gitignore
!.dockerignore
*.class
*.jar
**/target/
**/data/
**/log/
**/bin/
!bin/
!docker.local/bin/
!docker.aws/bin/
**/pkg/
**github.com/
**golang.org/
**/go/sign
**/go/miner
**/go/sharder
**/go/blobber
**/go/test/miner_stress
**/examples/
**/hash/main.go
*.iml
awsnet/credentials/
awsnet/testnet
awsnet/cookbook/*.retry
awsnet/cookbook/context