# Blockchain Configuration
# Recommended number of sharders and miners

NUM_SHARDERS=1
NUM_MINERS=4

# Network Configuration
# Choose your platform: macos, wsl_ubuntu, windows, linux, or custom
NETWORK_PLATFORM=linux

# Custom network script (if NETWORK_PLATFORM=custom)
# CUSTOM_NETWORK_SCRIPT=./my_custom_network.sh
