version: "3"

info:
  name: my_sharder
  logo_url: https://google.com
  description: this is my test sharder
  website_url: https://google.com

services:
  cassandra:
    container_name: "cassandra${SHARDER}"
    image: cassandra:3.11.4
    network_mode: bridge
    ports:
      - "904${SHARDER}:9042"
    volumes:
      - ./data/sharder${SHARDER}/cassandra:/var/lib/cassandra/data \

  postgres:
    container_name: "postgres${SHARDER}"
    image: postgres:14
    environment:
      POSTGRES_PORT: 5432
      POSTGRES_HOST: postgres
      POSTGRES_USER: postgres
      POSTGRES_HOST_AUTH_METHOD: trust
    ports:
      - "553${SHARDER}:5432"
    volumes:
      - ./data/sharder${SHARDER}/postgres:/var/lib/postgresql/data \
      - ./data/sharder${SHARDER}/sql_script/:/docker-entrypoint-initdb.d/ \
    network_mode: bridge

volumes:
  data:
  config:
  bin:
