version: 1.0

logging:
  level: "info"
  console: false # printing log to console is only supported in development mode
  goroutines: false
  memlog: false

development:
  state: true
  dkg: true
  smart_contract:
    storage: true
    faucet: true
    zrc20: true
    interest: true
    miner: true
    fee: true
    multisig: true
  txn_generation:
    wallets: 50
    max_transactions: 70
    max_txn_fee: 10000
    min_txn_fee: 0
    max_txn_value: 10000000000
    min_txn_value: 100
  faucet:
    refill_amount: 1000000000000000

zerochain:
  id: "0afc093ffb509f059c55478bc1a60351cef7b4e9c008a53a6cc8241ca8617dfe"
  decimals: 10
  genesis_block:
    id: "ed79cae70d439c11258236da1dfa6fc550f7cc569768304623e8fbd7d70efae4"

server_chain:
  id: "0afc093ffb509f059c55478bc1a60351cef7b4e9c008a53a6cc8241ca8617dfe"
  owner: "65dfe7e15ca2f689edda6eff3d5c36e8c0975792fa443c5f5413fbca27c49567"
  decimals: 10
  tokens: 200000000
  genesis_block:
    id: "ed79cae70d439c11258236da1dfa6fc550f7cc569768304623e8fbd7d70efae4"
  block:
    min_block_size: 10
    max_block_size: 100
    max_byte_size: 1638400
    generators: 2
    #replicators: 3
    replicators: 0
    generation:
      timeout: 15
      retry_wait_time: 5 #milliseconds
    proposal:
      max_wait_time: 180 # milliseconds
      wait_mode: static # static or dynamic
    consensus:
      threshold_by_count: 66 # percentage
      threshold_by_stake: 0 # percent
    sharding:
      min_active_sharders: 33 # percentage
      min_active_replicators: 33 # percentage
    validation:
      batch_size: 1000
    reuse_txns: false
    storage:
      provider: blockstore.FSBlockStore # blockstore.FSBlockStore or blockstore.BlockDBStore
  round_range: 10000000
  round_timeouts:
    softto_min: 3000   #in miliseconds
    softto_mult: 3    #multiples of mean network time (mnt)  softto = max{softo_min, softto_mult * mnt}
    round_restart_mult: 2        #number of soft timeouts before round is restarted
  transaction:
    payload:
      max_size: 98304 # bytes
    timeout: 10 # seconds
  client:
    signature_scheme: ed25519  # ed25519 or bls0chain
    discover: true
  messages:
    verification_tickets_to: all_miners # generator or all_miners
  state:
    prune_below_count: 100 # rounds
  smart_contract:
    timeout: 50 # milliseconds
  health_check:
    show_counters: true
    deep_scan:
      enabled: false
      settle_secs: 30
      window: 0 #Full scan till round 0
      repeat_interval_mins: 3 #minutes
      report_status_mins: 1 #minutes
      batch_size: 50
    proximity_scan:
      enabled: true
      settle_secs: 30
      window: 0 #number of blocks
      repeat_interval_mins: 1 #minutes
      report_status_mins: 1 #minutes
      batch_size: 50

network:
  nodes_file: config/single_machine_3_nodes.yaml
  relay_time: 200 # milliseconds
  max_concurrent_requests: 40
  timeout:
    small_message: 1000 # milliseconds
    large_message: 3000 # milliseconds
  large_message_th_size: 5120 # anything greater than this size in bytes
  user_handlers:
    rate_limit: 10 # 1 per second
  n2n_handlers:
    rate_limit: 1000 # 1000 per second
