version: 1.0

logging:
  level: "info"
  console: false # printing log to console is only supported in development mode
  goroutines: false
  memlog: true

development:
  state: false
  dkg: false
  txn_generation:
    wallets: 500
    transactions: 10

zerochain:
  id: "0afc093ffb509f059c55478bc1a60351cef7b4e9c008a53a6cc8241ca8617dfe"
  decimals: 10
  genesis_block:
    id: "ed79cae70d439c11258236da1dfa6fc550f7cc569768304623e8fbd7d70efae4"

server_chain:
  id: "0afc093ffb509f059c55478bc1a60351cef7b4e9c008a53a6cc8241ca8617dfe"
  owner: "65dfe7e15ca2f689edda6eff3d5c36e8c0975792fa443c5f5413fbca27c49567"
  decimals: 10
  tokens: 400000000
  genesis_block:
    id: "ed79cae70d439c11258236da1dfa6fc550f7cc569768304623e8fbd7d70efae4"
  block:
    min_block_size: 10
    max_block_size: 100
    max_byte_size: 1638400
    generators: 2
    sharders: 3
    generation:
      timeout: 15
      retry_wait_time: 5 #milliseconds
    proposal:
      max_wait_time: 180 # milliseconds
      wait_mode: static # static or dynamic
    consensus:
      threshold_by_count: 66 # percentage
      threshold_by_stake: 0 # percent
    validation:
      batch_size: 1000
    reuse_txns: false
    storage:
      provider: blockstore.FSBlockStore # blockstore.FSBlockStore or blockstore.BlockDBStore
  round_range: 10000000
  transaction:
    payload:
      max_size: 98304 # bytes
    timeout: 10 # seconds
  client:
    discover: true
  messages:
    verification_tickets_to: all_miners # generator or all_miners
  state:
    prune_below_count: 100 # rounds

network:
  relay_time: 200 # milliseconds
  max_concurrent_requests: 40
  timeout:
    small_message: 1000 # milliseconds
    large_message: 3000 # milliseconds
  large_message_th_size: 10240 # anything greater than this size in bytes
