#
# conductor BC testing configurations
#
---
# RPC server address (listen on)
bind: 0.0.0.0:15210
# place for stdin and stdout logs of nodes (relative to the working_directory)
logs: "conductor/logs"
# cleanup blockchain command
cleanup_command: "./docker.local/bin/docker-clean.sh"
# number of rounds per view change
view_change: 250 # 100
# skip 0dns from initialization message waiting
skip_wait: ["0dns","0box"]
stuck_warning_threshold: "2s"

aggregate_base_url: "http://localhost:9081/v2"

#
# nodes used in tests
#
nodes:
  # sharders
  - name: "sharder-1"
    id: 57b416fcda1cf82b8a7e1fc3a47c68a94e617be873b5383ea2606bda757d3ce4
    work_dir: "docker.local/sharder1"
    env: SHARDER=1
    start_command: "docker-compose -p sharder1 -f ../build.sharder/b0docker-compose.yml up"
    stop_command: "docker-compose -p sharder1 -f ../build.sharder/b0docker-compose.yml down"

  - name: "sharder-2"
    id: b098d2d56b087ee910f3ee2d2df173630566babb69f0be0e2e9a0c98d63f0b0b
    work_dir: "docker.local/sharder2"
    env: SHARDER=2
    start_command: "docker-compose -p sharder2 -f ../build.sharder/b0docker-compose.yml up"
    stop_command: "docker-compose -p sharder2 -f ../build.sharder/b0docker-compose.yml down"

  - name: "sharder-3"
    id: d9558143f8e976126367603bff34125f5eb94720df8d7acefffdd66675d134c2
    work_dir: "docker.local/sharder3"
    env: SHARDER=3
    start_command: "docker-compose -p sharder3 -f ../build.sharder/b0docker-compose.yml up"
    stop_command: "docker-compose -p sharder3 -f ../build.sharder/b0docker-compose.yml down"

  - name: "sharder-4"
    id: 600396361b3c9efc3a1ad85df6930163591be04a8c12bc5226414d34a81cb8e5
    work_dir: "docker.local/sharder4"
    env: SHARDER=4
    start_command: "docker-compose -p sharder4 -f ../build.sharder/b0docker-compose.yml up"
    stop_command: "docker-compose -p sharder4 -f ../build.sharder/b0docker-compose.yml down"


  # miners
  - name: "miner-1"
    id: 31810bd1258ae95955fb40c7ef72498a556d3587121376d9059119d280f34929
    work_dir: "docker.local/miner1"
    env: MINER=1
    start_command: "docker-compose -p miner1 -f ../build.miner/b0docker-compose.yml up"
    stop_command: "docker-compose -p miner1 -f ../build.miner/b0docker-compose.yml down"

  - name: "miner-2"
    id: 585732eb076d07455fbebcf3388856b6fd00449a25c47c0f72d961c7c4e7e7c2
    work_dir: "docker.local/miner2"
    env: MINER=2
    start_command: "docker-compose -p miner2 -f ../build.miner/b0docker-compose.yml up"
    stop_command: "docker-compose -p miner2 -f ../build.miner/b0docker-compose.yml down"

  - name: "miner-3"
    id: bfa64c67f49bceec8be618b1b6f558bdbaf9c100fd95d55601fa2190a4e548d8
    work_dir: "docker.local/miner3"
    env: MINER=3
    start_command: "docker-compose -p miner3 -f ../build.miner/b0docker-compose.yml up"
    stop_command: "docker-compose -p miner3 -f ../build.miner/b0docker-compose.yml down"

  - name: "miner-4"
    id: 8877e3da19b4cb51e59b4646ec7c0cf4849bc7b860257d69ddbf753b9a981e1b
    work_dir: "docker.local/miner4"
    env: MINER=4
    start_command: "docker-compose -p miner4 -f ../build.miner/b0docker-compose.yml up"
    stop_command: "docker-compose -p miner4 -f ../build.miner/b0docker-compose.yml down"

  - name: "miner-5"
    id: 53add50ff9501014df2cbd698c673f85e5785281cebba8772a64a6e74057d328
    work_dir: "docker.local/miner5"
    env: MINER=5
    start_command: "docker-compose -p miner5 -f ../build.miner/b0docker-compose.yml up"
    stop_command: "docker-compose -p miner5 -f ../build.miner/b0docker-compose.yml down"

  - name: "miner-6"
    id: 8b2b5cd7e26db28ebbc3da1652b1967f1029a35fbed1dd330ec9652e62dde464
    work_dir: "docker.local/miner6"
    env: MINER=6
    start_command: "docker-compose -p miner6 -f ../build.miner/b0docker-compose.yml up"
    stop_command: "docker-compose -p miner6 -f ../build.miner/b0docker-compose.yml down"

  - name: "miner-7"
    id: dda909a7f6c77562a836f71d0d8385842abfc5eaf1a4b52007a31ea5e38c49c2
    work_dir: "docker.local/miner7"
    env: MINER=7
    start_command: "docker-compose -p miner7 -f ../build.miner/b0docker-compose.yml up"
    stop_command: "docker-compose -p miner7 -f ../build.miner/b0docker-compose.yml down"

  - name: "miner-8"
    id: 5ea78acd3d32117ab7c0744b0d3d3e61b6a4591d32ab81eb623c732e709e9e7f
    work_dir: "docker.local/miner8"
    env: MINER=8
    start_command: "docker-compose -p miner8 -f ../build.miner/b0docker-compose.yml up"
    stop_command: "docker-compose -p miner8 -f ../build.miner/b0docker-compose.yml down"

  - name: "blobber-1"
    id: f65af5d64000c7cd2883f4910eb69086f9d6e6635c744e62afcfab58b938ee25
    work_dir: "../blobber/docker.local/blobber1"
    env: BLOBBER=1,CONFIG_PATH=./conductor-config
    start_command: "docker-compose -p blobber1 -f ../b0docker-compose.yml up"
    stop_command: "docker-compose -p blobber1 -f ../b0docker-compose.yml down"

  - name: "blobber-2"
    id: 7a90e6790bcd3d78422d7a230390edc102870fe58c15472073922024985b1c7d
    work_dir: "../blobber/docker.local/blobber2"
    env: BLOBBER=2,CONFIG_PATH=./conductor-config
    start_command: "docker-compose -p blobber2 -f ../b0docker-compose.yml up"
    stop_command: "docker-compose -p blobber2 -f ../b0docker-compose.yml down"

  - name: "blobber-3"
    id: 2f051ca6447d8712a020213672bece683dbd0d23a81fdf93ff273043a0764d18
    work_dir: "../blobber/docker.local/blobber3"
    env: BLOBBER=3,CONFIG_PATH=./conductor-config
    start_command: "docker-compose -p blobber3 -f ../b0docker-compose.yml up"
    stop_command: "docker-compose -p blobber3 -f ../b0docker-compose.yml down"

  - name: "blobber-4"
    id: 2a4d5a5c6c0976873f426128d2ff23a060ee715bccf0fd3ca5e987d57f25b78e
    work_dir: "../blobber/docker.local/blobber4"
    env: BLOBBER=4,CONFIG_PATH=./conductor-config
    start_command: "docker-compose -p blobber4 -f ../b0docker-compose.yml up"
    stop_command: "docker-compose -p blobber4 -f ../b0docker-compose.yml down"
  
  - name: "validator-1"
    id: 41313b795d2c057b6277801e9ed277b444770c2af75f5209afd00bd07c72cc0b
    work_dir: "../blobber/docker.local/validator1"
    env: BLOBBER=1,CONFIG_PATH=./conductor-config
    start_command: "sh -c \"echo\""
    stop_command: "sh -c \"echo\""

  - name: "validator-2"
    id: ab549edb7cea822dab0b460f65dcde85f698c1e97d730e3ffc6b0f8b576b65bd
    work_dir: "../blobber/docker.local/validator2"
    env: BLOBBER=2,CONFIG_PATH=./conductor-config
    start_command: "sh -c \"echo\""
    stop_command: "sh -c \"echo\""

  - name: "validator-3"
    id: 86cf791f03f01e3e4d318b1ca009a51c91dd43f7cf3c87a32f531b609cc5044b
    work_dir: "../blobber/docker.local/validator3"
    env: BLOBBER=3,CONFIG_PATH=./conductor-config
    start_command: "sh -c \"echo\""
    stop_command: "sh -c \"echo\""

  - name: "validator-4"
    id: 823cb45de27dfe739b320dcf6449e5fdea35c60804fd81d6f22c005042cfb337
    work_dir: "../blobber/docker.local/validator4"
    env: BLOBBER=4,CONFIG_PATH=./conductor-config
    start_command: "sh -c \"echo\""
    stop_command: "sh -c \"echo\""

  - name: "validator-1"
    id: 41313b795d2c057b6277801e9ed277b444770c2af75f5209afd00bd07c72cc0b
    work_dir: "../blobber/docker.local/validator1"
    env: BLOBBER=1,CONFIG_PATH=./conductor-config
    start_command: "echo \0"
    stop_command: "echo \0"

  - name: "validator-2"
    id: ab549edb7cea822dab0b460f65dcde85f698c1e97d730e3ffc6b0f8b576b65bd
    work_dir: "../blobber/docker.local/validator2"
    env: BLOBBER=2,CONFIG_PATH=./conductor-config
    start_command: "echo \0"
    stop_command: "echo \0"

  - name: "validator-3"
    id: 86cf791f03f01e3e4d318b1ca009a51c91dd43f7cf3c87a32f531b609cc5044b
    work_dir: "../blobber/docker.local/validator3"
    env: BLOBBER=3,CONFIG_PATH=./conductor-config
    start_command: "echo \0"
    stop_command: "echo \0"

  - name: "validator-4"
    id: 823cb45de27dfe739b320dcf6449e5fdea35c60804fd81d6f22c005042cfb337
    work_dir: "../blobber/docker.local/validator4"
    env: BLOBBER=4,CONFIG_PATH=./conductor-config
    start_command: "echo \0"
    stop_command: "echo \0"

  - name: "validator-1"
    id: 41313b795d2c057b6277801e9ed277b444770c2af75f5209afd00bd07c72cc0b
    work_dir: "../blobber/docker.local/validator1"
    env: BLOBBER=1,CONFIG_PATH=./conductor-config
    start_command: "sh -c \"echo\""
    stop_command: "sh -c \"echo\""

  - name: "validator-2"
    id: ab549edb7cea822dab0b460f65dcde85f698c1e97d730e3ffc6b0f8b576b65bd
    work_dir: "../blobber/docker.local/validator2"
    env: BLOBBER=2,CONFIG_PATH=./conductor-config
    start_command: "sh -c \"echo\""
    stop_command: "sh -c \"echo\""

  - name: "validator-3"
    id: 86cf791f03f01e3e4d318b1ca009a51c91dd43f7cf3c87a32f531b609cc5044b
    work_dir: "../blobber/docker.local/validator3"
    env: BLOBBER=3,CONFIG_PATH=./conductor-config
    start_command: "sh -c \"echo\""
    stop_command: "sh -c \"echo\""

  - name: "validator-4"
    id: 823cb45de27dfe739b320dcf6449e5fdea35c60804fd81d6f22c005042cfb337
    work_dir: "../blobber/docker.local/validator4"
    env: BLOBBER=4,CONFIG_PATH=./conductor-config
    start_command: "sh -c \"echo\""
    stop_command: "sh -c \"echo\""

  # authorizer
  - name: "authorizer-1"
    id: 1746b06bb09f55ee01b33b5e2e055d6cc7a900cb57c0a3a5eaabb8a0e7745802
    work_dir: "../token_bridge_authserver/docker.local/auth1"
    env: AUTHORIZER=1,ETH_MNEMONIC=symbol alley celery diesel donate moral almost opinion achieve since diamond page,ETH_UNLOCKPASSWORD="02289b9",ETH_BRIDGE_ADDRESS=0xf260c644Acfbfd87bdC77Fe32c8d6a56C9eec879
    start_command: "docker-compose -p auth1 -f ../build.authorizer-integration-tests/b0docker-compose.yml up"
    stop_command: "docker-compose -p auth1 -f ../build.authorizer-integration-tests/b0docker-compose.yml down"

  - name: "authorizer-2"
    id: 47c534abb2bcb33e9944aee9a0df0e0adc4c0b659b9499aa656920975c38a80a
    work_dir: "../token_bridge_authserver/docker.local/auth2"
    env: AUTHORIZER=2,ETH_MNEMONIC=office peanut sail help sword minor gospel shoot execute prosper flip know,ETH_UNLOCKPASSWORD="12345678",ETH_BRIDGE_ADDRESS=0xf260c644Acfbfd87bdC77Fe32c8d6a56C9eec879
    start_command: "docker-compose -p auth2 -f ../build.authorizer-integration-tests/b0docker-compose.yml up"
    stop_command: "docker-compose -p auth2 -f ../build.authorizer-integration-tests/b0docker-compose.yml down"

  - name: "authorizer-3"
    id: 7f2097074f678d08146e5585d6965b04307939fee0457ea18c4242bff197c65a
    work_dir: "../token_bridge_authserver/docker.local/auth3"
    env: AUTHORIZER=3,ETH_MNEMONIC=acid dismiss fantasy already fossil material yellow present awkward debris rude oval,ETH_UNLOCKPASSWORD="12345678",ETH_BRIDGE_ADDRESS=0xf260c644Acfbfd87bdC77Fe32c8d6a56C9eec879
    start_command: "docker-compose -p auth3 -f ../build.authorizer-integration-tests/b0docker-compose.yml up"
    stop_command: "docker-compose -p auth3 -f ../build.authorizer-integration-tests/b0docker-compose.yml down"
  
  - name: "authorizer-4"
    id: d5b9204835a6ea8ba93a0b4f14ce38bc72dec5165465416f0a3b9f66f988e1ab
    work_dir: "../token_bridge_authserver/docker.local/auth4"
    env: AUTHORIZER=4,ETH_MNEMONIC=prize tennis people canoe tongue reform main ghost jelly prefer swear nurse,ETH_UNLOCKPASSWORD="L9gwnf#Gm)bpZLP7",ETH_ADDRESS=0xD21073e6DC7E65aABc8763b9B34AAd9Eb4c8cE65,ETH_PK=0x8f86829881c924854a3ed32e986cb64bde652eb7431cc693a38d20da90319a88
    start_command: "docker-compose -p auth4 -f ../build.authorizer-integration-tests/b0docker-compose.yml up"
    stop_command: "docker-compose -p auth4 -f ../build.authorizer-integration-tests/b0docker-compose.yml down"

  # 0dns (patched version, add docker-clean, start-no-daemon.sh)
  - name: "0dns" #
    id: "0dns" # no real ID used
    work_dir: "../0dns/" #
    env: "" # no ENV needed
    start_command: "../0dns/docker.local/bin/start-no-daemon.sh" # not demonized instance
    stop_command: "../0dns/docker.local/bin/stop-no-daemon.sh" # not demonized instance
  
  - name: "0box"
    id: "0box"
    work_dir: "../0box/"
    env: ""
    start_command: "./docker.local/bin/start-dev.sh"
    stop_command: "docker compoer -p 0box down && ./docker.local/bin/clean.sh"

# named system commands
commands:
  build_base:
    work_dir: "./."
    exec: "./docker.local/bin/build.base.sh"
    can_fail: true
  build_sharder:
    work_dir: "./."
    exec: "./docker.local/bin/build.sharders-integration-tests.sh"
    can_fail: true
  build_miner:
    work_dir: "./."
    exec: "./docker.local/bin/build.miners-integration-tests.sh"
    can_fail: true
  cleanup_blobbers:
    work_dir: "../blobber"
    exec: "../blobber/docker.local/bin/docker-clean.sh"
    can_fail: true
  cleanup_0box:
    work_dir: "../"
    exec: "sh -x 0chain/docker.local/bin/conductor/cleanup_0box.sh"
    can_fail: true
  cleanup_0dns:
    work_dir: "../0dns"
    exec: "../0dns/docker.local/bin/docker-clean.sh"
    can_fail: true
  build_test_blobbers:
    work_dir: "../blobber"
    exec: "../blobber/docker.local/bin/build.blobber-integration-tests.sh"
  init_allocation:
    work_dir: "../"
    exec: "sh -x 0chain/docker.local/bin/conductor/init_allocation.sh"
  init_allocation_only:
    work_dir: "../"
    exec: "sh -x 0chain/docker.local/bin/conductor/init_allocation_only.sh $data_shards $parity_shards"
    args:
      data_shards:
        required: false
        default: "1"
      parity_shards:
        required: false
        default: "2"
  list:
    work_dir: "../"
    exec: "sh -x 0chain/docker.local/bin/conductor/list.sh"
    should_fail: false # consensus
  list_and_verify:
    work_dir: "../"
    exec: "bash -x 0chain/docker.local/bin/conductor/list_and_verify.sh"
    should_fail: false
  download_and_verify:
    work_dir: "../"
    exec: "bash -x 0chain/docker.local/bin/conductor/download_and_verify.sh"
    should_fail: false
  upload_and_verify:
    work_dir: "../"
    exec: "bash -x 0chain/docker.local/bin/conductor/upload_and_verify.sh"
    should_fail: false
  delete_and_verify:
    work_dir: "../"
    exec: "bash -x 0chain/docker.local/bin/conductor/delete_and_verify.sh"
    should_fail: false
  download:
    work_dir: "../"
    exec: "sh -x 0chain/docker.local/bin/conductor/download.sh"
    should_fail: false # shouldn't fail because of Rid-Solomon
  delete:
    work_dir: "../"
    exec: "sh -x 0chain/docker.local/bin/conductor/delete.sh"
    should_fail: false # consensus
  upload:
    work_dir: "../"
    exec: "sh -x 0chain/docker.local/bin/conductor/upload.sh $remotepath"
    should_fail: false
    args:
      remotepath:
        required: false
        default: /remote/upload.bin
  unverified_transaction:
    work_dir: "../"
    exec: "sh -x 0chain/docker.local/bin/conductor/unverified_transaction.sh"
    should_fail: false
  init_pour_allocation:
    work_dir: "../"
    exec: "sh -x 0chain/docker.local/bin/conductor/init_pour_allocation.sh"
  upload_no_tokens:
    work_dir: "../"
    exec: "sh -x 0chain/docker.local/bin/conductor/upload_no_tokens.sh"
    should_fail: true
  download_no_tokens:
    work_dir: "../"
    exec: "sh -x 0chain/docker.local/bin/conductor/download_no_tokens.sh"
    should_fail: true
  fill_pools:
    work_dir: "../"
    exec: "sh -x 0chain/docker.local/bin/conductor/fill_pools.sh"
  upload_no_meta:
    work_dir: "../"
    exec: "sh -x 0chain/docker.local/bin/conductor/upload_no_meta.sh"
    should_fail: true
  upload_no_file:
    work_dir: "../"
    exec: "sh -x 0chain/docker.local/bin/conductor/upload_no_file.sh"
    should_fail: true
  upload_no_wm:
    work_dir: "../"
    exec: "sh -x 0chain/docker.local/bin/conductor/upload_no_wm.sh"
    should_fail: true
  download_no_rm:
    work_dir: "../"
    exec: "sh -x 0chain/docker.local/bin/conductor/download_no_rm.sh"
    should_fail: true
  markers_out_of_order:
    work_dir: "../"
    exec: "sh -x 0chain/docker.local/bin/conductor/markers_out_of_order.sh"
    should_fail: true
  simultaneous:
    work_dir: "../"
    exec: "sh -x 0chain/docker.local/bin/conductor/simultaneous.sh"
    should_fail: true
  repair_allocation:
    work_dir: "../"
    exec: "sh -x 0chain/docker.local/bin/conductor/repair_allocation.sh"
    should_fail: false
  upload_repair:
    work_dir: "../"
    exec: "sh -x 0chain/docker.local/bin/conductor/upload_repair.sh"
    should_fail: false
  repair:
    work_dir: "../"
    exec: "sh -x 0chain/docker.local/bin/conductor/repair.sh"
    should_fail: false
  list_repair:
    work_dir: "../"
    exec: "sh -x 0chain/docker.local/bin/conductor/list_repair.sh"
    should_fail: false
  register_authorizer:
    work_dir: "../"
    exec: "sh -x 0chain/docker.local/bin/conductor/register_authorizer.sh"
    should_fail: false
  burn_zcn:
    work_dir: "../"
    exec: "sh -x 0chain/docker.local/bin/conductor/burn_zcn.sh"
    should_fail: false
  mint_wzcn:
    work_dir: "../"
    exec: "sh -x 0chain/docker.local/bin/conductor/mint_wzcn.sh"
    should_fail: false
  mint_zcn:
    work_dir: "../"
    exec: "sh -x 0chain/docker.local/bin/conductor/mint_zcn.sh"
    should_fail: false
  update:
    work_dir: "../"
    exec: "sh -x 0chain/docker.local/bin/conductor/update.sh $remotepath"
    should_fail: false
    args:
      remotepath:
        required: false
        default: /remote/upload.bin
  rename:
    work_dir: "../"
    exec: "sh -x 0chain/docker.local/bin/conductor/rename.sh $remotepath $destname"
    can_fail: false
    args: 
      remotepath:
        required: false
        default: /remote/upload.bin
      destname:
        required: false
        default: upload_renamed.bin
  rename_can_fail:
    work_dir: "../"
    exec: "sh -x 0chain/docker.local/bin/conductor/rename.sh $remotepath $destname"
    can_fail: true
    args: 
      remotepath:
        required: false
        default: /remote/upload.bin
      destname:
        required: false
        default: upload_renamed.bin
  cleanup_provider:
    work_dir: "../"
    exec: "sh -x 0chain/docker.local/bin/conductor/cleanup_provider.sh $path $recreate_script $recreate_script_workdir"
    args:
      path:
        required: true
      recreate_script:
        required: true
      recreate_script_workdir:
        required: true
  fill_blobber_validator_wallets:
    work_dir: "../"
    exec: "sh -x 0chain/docker.local/bin/conductor/fill_blobber_validator_wallets.sh"
  stake_providers:
    work_dir: "../"
    exec: ./0chain/docker.local/bin/conductor/stake_providers.sh $provider_type $provider_ids
    args:
      provider_type:
        required: true
      provider_ids:
        required: true
  update_config:
    work_dir: "../"
    exec: "sh -x 0chain/docker.local/bin/conductor/update_config.sh $keys $values"
    args:
      keys:
        required: true
      values:
        required: true
  update_faucet_config:
    work_dir: "../"
    exec: "sh -x 0chain/docker.local/bin/conductor/update_faucet_config.sh $keys $values"
    args:
      keys:
        required: true
      values:
        required: true
  cleanup:
    work_dir: "../"
    exec: "sh -x 0chain/docker.local/bin/conductor/cleanup.sh"
    should_fail: false
  init_allocation_3_blobbers_no_read_tokens:
    work_dir: "../"
    exec: "sh -x 0chain/docker.local/bin/conductor/init_allocation_3_blobbers_no_read_tokens.sh $data_shards $parity_shards"
    should_fail: false
    args:
      data_shards:
        required: false
        default: "1"
      parity_shards:
        required: false
        default: "2"
