#
# conductor BC testing configurations
#
---
# RPC server address (listen on)
bind: 0.0.0.0:15210
# place for stdin and stdout logs of nodes (relative to the working_directory)
logs: "conductor/logs"
# cleanup blockchain command
cleanup_command: "./docker.local/bin/docker-clean.sh"
# number of rounds per view change
view_change: 250 # 100
# skip 0dns from initialization message waiting
skip_wait: ["0dns"]
stuck_warning_threshold: "2s"

#
# nodes used in tests
#
nodes:
  # sharders
  - name: "sharder-1"
    id: 57b416fcda1cf82b8a7e1fc3a47c68a94e617be873b5383ea2606bda757d3ce4
    work_dir: "docker.local/sharder1"
    env: SHARDER=1
    start_command: "docker-compose -p sharder1 -f ../build.sharder/b0docker-compose.yml up"
    stop_command: "docker-compose -p sharder1 -f ../build.sharder/b0docker-compose.yml down"

  - name: "sharder-2"
    id: b098d2d56b087ee910f3ee2d2df173630566babb69f0be0e2e9a0c98d63f0b0b
    work_dir: "docker.local/sharder2"
    env: SHARDER=2
    start_command: "docker-compose -p sharder2 -f ../build.sharder/b0docker-compose.yml up"
    stop_command: "docker-compose -p sharder2 -f ../build.sharder/b0docker-compose.yml down"

  - name: "sharder-3"
    id: d9558143f8e976126367603bff34125f5eb94720df8d7acefffdd66675d134c2
    work_dir: "docker.local/sharder3"
    env: SHARDER=3
    start_command: "docker-compose -p sharder3 -f ../build.sharder/b0docker-compose.yml up"
    stop_command: "docker-compose -p sharder3 -f ../build.sharder/b0docker-compose.yml down"

  - name: "sharder-4"
    id: 600396361b3c9efc3a1ad85df6930163591be04a8c12bc5226414d34a81cb8e5
    work_dir: "docker.local/sharder4"
    env: SHARDER=4
    start_command: "docker-compose -p sharder4 -f ../build.sharder/b0docker-compose.yml up"
    stop_command: "docker-compose -p sharder4 -f ../build.sharder/b0docker-compose.yml down"


  # miners
  - name: "miner-1"
    id: 31810bd1258ae95955fb40c7ef72498a556d3587121376d9059119d280f34929
    work_dir: "docker.local/miner1"
    env: MINER=1
    start_command: "docker-compose -p miner1 -f ../build.miner/b0docker-compose.yml up"
    stop_command: "docker-compose -p miner1 -f ../build.miner/b0docker-compose.yml down"

  - name: "miner-2"
    id: 585732eb076d07455fbebcf3388856b6fd00449a25c47c0f72d961c7c4e7e7c2
    work_dir: "docker.local/miner2"
    env: MINER=2
    start_command: "docker-compose -p miner2 -f ../build.miner/b0docker-compose.yml up"
    stop_command: "docker-compose -p miner2 -f ../build.miner/b0docker-compose.yml down"

  - name: "miner-3"
    id: bfa64c67f49bceec8be618b1b6f558bdbaf9c100fd95d55601fa2190a4e548d8
    work_dir: "docker.local/miner3"
    env: MINER=3
    start_command: "docker-compose -p miner3 -f ../build.miner/b0docker-compose.yml up"
    stop_command: "docker-compose -p miner3 -f ../build.miner/b0docker-compose.yml down"

  - name: "miner-4"
    id: 8877e3da19b4cb51e59b4646ec7c0cf4849bc7b860257d69ddbf753b9a981e1b
    work_dir: "docker.local/miner4"
    env: MINER=4
    start_command: "docker-compose -p miner4 -f ../build.miner/b0docker-compose.yml up"
    stop_command: "docker-compose -p miner4 -f ../build.miner/b0docker-compose.yml down"

  - name: "miner-5"
    id: 53add50ff9501014df2cbd698c673f85e5785281cebba8772a64a6e74057d328
    work_dir: "docker.local/miner5"
    env: MINER=5
    start_command: "docker-compose -p miner5 -f ../build.miner/b0docker-compose.yml up"
    stop_command: "docker-compose -p miner5 -f ../build.miner/b0docker-compose.yml down"

  - name: "miner-6"
    id: 8b2b5cd7e26db28ebbc3da1652b1967f1029a35fbed1dd330ec9652e62dde464
    work_dir: "docker.local/miner6"
    env: MINER=6
    start_command: "docker-compose -p miner6 -f ../build.miner/b0docker-compose.yml up"
    stop_command: "docker-compose -p miner6 -f ../build.miner/b0docker-compose.yml down"

  - name: "miner-7"
    id: dda909a7f6c77562a836f71d0d8385842abfc5eaf1a4b52007a31ea5e38c49c2
    work_dir: "docker.local/miner7"
    env: MINER=7
    start_command: "docker-compose -p miner7 -f ../build.miner/b0docker-compose.yml up"
    stop_command: "docker-compose -p miner7 -f ../build.miner/b0docker-compose.yml down"

  - name: "miner-8"
    id: 5ea78acd3d32117ab7c0744b0d3d3e61b6a4591d32ab81eb623c732e709e9e7f
    work_dir: "docker.local/miner8"
    env: MINER=8
    start_command: "docker-compose -p miner8 -f ../build.miner/b0docker-compose.yml up"
    stop_command: "docker-compose -p miner8 -f ../build.miner/b0docker-compose.yml down"

  # blobbers (patched version)
  - name: "blobber-1"
    id: f65af5d64000c7cd2883f4910eb69086f9d6e6635c744e62afcfab58b938ee25
    work_dir: "../blobber/docker.local/blobber1"
    env: BLOBBER=1
    start_command: "docker-compose -p blobber1 -f ../b0docker-compose.yml up"
    stop_command: "docker-compose -p blobber1 -f ../b0docker-compose.yml down"

  - name: "blobber-2"
    id: 7a90e6790bcd3d78422d7a230390edc102870fe58c15472073922024985b1c7d
    work_dir: "../blobber/docker.local/blobber2"
    env: BLOBBER=2
    start_command: "docker-compose -p blobber2 -f ../b0docker-compose.yml up"
    stop_command: "docker-compose -p blobber2 -f ../b0docker-compose.yml down"

  - name: "blobber-3"
    id: 2f051ca6447d8712a020213672bece683dbd0d23a81fdf93ff273043a0764d18
    work_dir: "../blobber/docker.local/blobber3"
    env: BLOBBER=3
    start_command: "docker-compose -p blobber3 -f ../b0docker-compose.yml up"
    stop_command: "docker-compose -p blobber3 -f ../b0docker-compose.yml down"

  - name: "blobber-4"
    id: 2a4d5a5c6c0976873f426128d2ff23a060ee715bccf0fd3ca5e987d57f25b78e
    work_dir: "../blobber/docker.local/blobber4"
    env: BLOBBER=4
    start_command: "docker-compose -p blobber4 -f ../b0docker-compose.yml up"
    stop_command: "docker-compose -p blobber4 -f ../b0docker-compose.yml down"

  # authorizer
  - name: "authorizer-1"
    id: 1746b06bb09f55ee01b33b5e2e055d6cc7a900cb57c0a3a5eaabb8a0e7745802
    work_dir: "../token_bridge_authserver/docker.local/auth1"
    env: AUTHORIZER=1,ETH_MNEMONIC=symbol alley celery diesel donate moral almost opinion achieve since diamond page,ETH_UNLOCKPASSWORD="02289b9",ETH_ADDRESS=0xD8c9156e782C68EE671C09b6b92de76C97948432,ETH_PK=0x02289b950644fabe16066881320b4dcdfdad80143c5e07de6c737e9be8c7037f9e
    start_command: "docker-compose -p auth1 -f ../build.authorizer-integration-tests/b0docker-compose.yml up"
    stop_command: "docker-compose -p auth1 -f ../build.authorizer-integration-tests/b0docker-compose.yml down"

  - name: "authorizer-2"
    id: 47c534abb2bcb33e9944aee9a0df0e0adc4c0b659b9499aa656920975c38a80a
    work_dir: "../token_bridge_authserver/docker.local/auth2"
    env: AUTHORIZER=2,ETH_MNEMONIC=office peanut sail help sword minor gospel shoot execute prosper flip know,ETH_UNLOCKPASSWORD="12345678",ETH_ADDRESS=0x557850520d8AcD3177B445CAaeD6410899Ef976a,ETH_PK=0xd6c937942ac3dcf36c8109aeadf0af1567b5d41a45d88924608dbb8857109396
    start_command: "docker-compose -p auth2 -f ../build.authorizer-integration-tests/b0docker-compose.yml up"
    stop_command: "docker-compose -p auth2 -f ../build.authorizer-integration-tests/b0docker-compose.yml down"

  - name: "authorizer-3"
    id: 7f2097074f678d08146e5585d6965b04307939fee0457ea18c4242bff197c65a
    work_dir: "../token_bridge_authserver/docker.local/auth3"
    env: AUTHORIZER=3,ETH_MNEMONIC=acid dismiss fantasy already fossil material yellow present awkward debris rude oval,ETH_UNLOCKPASSWORD="12345678",ETH_ADDRESS=0xfa0204737fB21F565FcF5293FD1Efc0f89f2D158,ETH_PK=0xb9226048816807399cb8123a0216fb8b1f9b0e54020283609cc25ac4faae7284
    start_command: "docker-compose -p auth3 -f ../build.authorizer-integration-tests/b0docker-compose.yml up"
    stop_command: "docker-compose -p auth3 -f ../build.authorizer-integration-tests/b0docker-compose.yml down"

  # 0dns (patched version, add docker-clean, start-no-daemon.sh)
  - name: "0dns" #
    id: "0dns" # no real ID used
    work_dir: "../0dns/" #
    env: "" # no ENV needed
    start_command: "../0dns/docker.local/bin/start-no-daemon.sh" # not demonized instance
    stop_command: "../0dns/docker.local/bin/stop-no-daemon.sh" # not demonized instance

# named system commands
commands:
  build_base:
    work_dir: "./."
    exec: "./docker.local/bin/build.base.sh"
    can_fail: true
  build_sharder:
    work_dir: "./."
    exec: "./docker.local/bin/build.sharders-integration-tests.sh"
    can_fail: true
  build_miner:
    work_dir: "./."
    exec: "./docker.local/bin/build.miners-integration-tests.sh"
    can_fail: true
  cleanup_blobbers:
    work_dir: "../blobber"
    exec: "../blobber/docker.local/bin/docker-clean.sh"
    can_fail: true
  cleanup_0dns:
    work_dir: "../0dns"
    exec: "../0dns/docker.local/bin/docker-clean.sh"
    can_fail: true
  build_test_blobbers:
    work_dir: "../blobber"
    exec: "../blobber/docker.local/bin/build.blobber-integration-tests.sh"
  init_allocation:
    work_dir: "../"
    exec: "sh -x 0chain/docker.local/bin/conductor/init_allocation.sh"
  sleep_20s:
    work_dir: "../"
    exec: "sh -x 0chain/docker.local/bin/conductor/sleep_20s.sh"
  sleep_1m: # it sleeps a hour in reality, used for debugging tests
    work_dir: "../"
    exec: "sh -x 0chain/docker.local/bin/conductor/sleep_1m.sh"
  sleep_3m:
    work_dir: "../"
    exec: "sh -x 0chain/docker.local/bin/conductor/sleep_3m.sh"
  sleep_30m:
    work_dir: "../"
    exec: "sh -x 0chain/docker.local/bin/conductor/sleep_30m.sh"
  list:
    work_dir: "../"
    exec: "sh -x 0chain/docker.local/bin/conductor/list.sh"
    should_fail: false # consensus
  list_and_verify:
    work_dir: "../"
    exec: "bash -x 0chain/docker.local/bin/conductor/list_and_verify.sh"
    should_fail: false
  download_and_verify:
    work_dir: "../"
    exec: "bash -x 0chain/docker.local/bin/conductor/download_and_verify.sh"
    should_fail: false
  upload_and_verify:
    work_dir: "../"
    exec: "bash -x 0chain/docker.local/bin/conductor/upload_and_verify.sh"
    should_fail: false
  delete_and_verify:
    work_dir: "../"
    exec: "bash -x 0chain/docker.local/bin/conductor/delete_and_verify.sh"
    should_fail: false
  download:
    work_dir: "../"
    exec: "sh -x 0chain/docker.local/bin/conductor/download.sh"
    should_fail: false # shouldn't fail because of Rid-Solomon
  delete:
    work_dir: "../"
    exec: "sh -x 0chain/docker.local/bin/conductor/delete.sh"
    should_fail: false # consensus
  upload:
    work_dir: "../"
    exec: "sh -x 0chain/docker.local/bin/conductor/upload.sh"
    should_fail: false
  unverified_transaction:
    work_dir: "../"
    exec: "sh -x 0chain/docker.local/bin/conductor/unverified_transaction.sh"
    should_fail: false
  init_pour_allocation:
    work_dir: "../"
    exec: "sh -x 0chain/docker.local/bin/conductor/init_pour_allocation.sh"
  upload_no_tokens:
    work_dir: "../"
    exec: "sh -x 0chain/docker.local/bin/conductor/upload_no_tokens.sh"
    should_fail: true
  download_no_tokens:
    work_dir: "../"
    exec: "sh -x 0chain/docker.local/bin/conductor/download_no_tokens.sh"
    should_fail: true
  fill_pools:
    work_dir: "../"
    exec: "sh -x 0chain/docker.local/bin/conductor/fill_pools.sh"
  upload_no_meta:
    work_dir: "../"
    exec: "sh -x 0chain/docker.local/bin/conductor/upload_no_meta.sh"
    should_fail: true
  upload_no_file:
    work_dir: "../"
    exec: "sh -x 0chain/docker.local/bin/conductor/upload_no_file.sh"
    should_fail: true
  upload_no_wm:
    work_dir: "../"
    exec: "sh -x 0chain/docker.local/bin/conductor/upload_no_wm.sh"
    should_fail: true
  download_no_rm:
    work_dir: "../"
    exec: "sh -x 0chain/docker.local/bin/conductor/download_no_rm.sh"
    should_fail: true
  markers_out_of_order:
    work_dir: "../"
    exec: "sh -x 0chain/docker.local/bin/conductor/markers_out_of_order.sh"
    should_fail: true
  simultaneous:
    work_dir: "../"
    exec: "sh -x 0chain/docker.local/bin/conductor/simultaneous.sh"
    should_fail: true
  repair_allocation:
    work_dir: "../"
    exec: "sh -x 0chain/docker.local/bin/conductor/repair_allocation.sh"
    should_fail: false
  upload_repair:
    work_dir: "../"
    exec: "sh -x 0chain/docker.local/bin/conductor/upload_repair.sh"
    should_fail: false
  repair:
    work_dir: "../"
    exec: "sh -x 0chain/docker.local/bin/conductor/repair.sh"
    should_fail: false
  list_repair:
    work_dir: "../"
    exec: "sh -x 0chain/docker.local/bin/conductor/list_repair.sh"
    should_fail: false
  register_authorizer:
    work_dir: "../"
    exec: "sh -x 0chain/docker.local/bin/conductor/register_authorizer.sh"
    should_fail: false
  burn_zcn:
    work_dir: "../"
    exec: "sh -x 0chain/docker.local/bin/conductor/burn_zcn.sh"
    should_fail: false
  mint_wzcn:
    work_dir: "../"
    exec: "sh -x 0chain/docker.local/bin/conductor/mint_wzcn.sh"
    should_fail: false
  mint_zcn:
    work_dir: "../"
    exec: "sh -x 0chain/docker.local/bin/conductor/mint_zcn.sh"
    should_fail: false
