smart_contracts:
  faucetsc:
    owner_id: 1746b06bb09f55ee01b33b5e2e055d6cc7a900cb57c0a3a5eaabb8a0e7745802
    pour_limit: 1
    pour_amount: 1
    max_pour_amount: 100
    periodic_limit: 1000
    global_limit: 100000
    individual_reset: 3h # in hours
    global_reset: 48h # in hours
    cost:
      update-settings: 100
      pour: 100
      refill: 100


  minersc:
    owner_id: 1746b06bb09f55ee01b33b5e2e055d6cc7a900cb57c0a3a5eaabb8a0e7745802
    # miners
    max_n: 7 # 100
    min_n: 3 # 3
    # sharders
    max_s: 2 # 30
    min_s: 1 # 1
    # max delegates allowed by SC
    max_delegates: 200 #
    # DKG
    t_percent: .66 # of active
    k_percent: .75 # of registered
    x_percent: 0.70 # percentage of prev mb miners required to be part of next mb
    # etc
    min_stake: 0.0 # min stake can be set by a node (boundary for all nodes)
    max_stake: 20000.0 # max stake can be set by a node (boundary for all nodes)
    min_stake_per_delegate: 1
    start_rounds: 50
    contribute_rounds: 50
    share_rounds: 50
    publish_rounds: 50
    wait_rounds: 50
    # reward rate for generators, will be declined every epoch
    reward_rate: 1.0 # [0; 1)
    # share ratio is miner/block sharders rewards ratio, for example 0.1
    # gives 10% for miner and rest for block sharders
    share_ratio: 0.16 # [0; 1)
    # reward for a block
    block_reward: 0.068 # tokens
    # max service charge can be set by a generator
    max_charge: 0.5 # %
    # epoch is number of rounds before rewards and interest are decreased
    epoch: 125000000 # rounds
    # decline rewards every new epoch by this value (the block_reward)
    reward_decline_rate: 0.1 # [0; 1), 0.1 = 10%
    # no mints after miner SC total mints reaches this boundary
    # if view change is false then reward round frequency is used to send rewards and interests
    reward_round_frequency: 250
    # miner delegates to get paid each round when paying fees and rewards
    num_miner_delegates_rewarded: 10
    # sharders rewarded each round
    num_sharders_rewarded: 1
    # sharder delegates to get paid each round when paying fees and rewards
    num_sharder_delegates_rewarded: 5
    cooldown_period: 100
    health_check_period: 90m
    cost:
      add_miner: 361
      add_sharder: 331
      delete_miner: 484
      delete_sharder: 335
      vc_add: 361
      miner_health_check: 149
      sharder_health_check: 145
      contributeMpk: 1433
      shareSignsOrShares: 509
      wait: 100 #todo
      update_globals: 269
      update_settings: 136
      update_miner_settings: 137
      update_sharder_settings: 134
      payFees: 1356
      feesPaid: 100 #todo
      mintedTokens: 100 #todo
      addToDelegatePool: 186
      deleteFromDelegatePool: 150
      sharder_keep: 211
      collect_reward: 230
      kill_miner: 146
      kill_sharder: 140
  storagesc:
    owner_id: 1746b06bb09f55ee01b33b5e2e055d6cc7a900cb57c0a3a5eaabb8a0e7745802
    # the time_unit is a duration used as divider for a write price; a write
    # price measured in tok / GB / time_unit, where the time_unit is this
    # configuration; for example 1h, 24h (a day), 720h (a month -- 30 days);
    time_unit: "720h"
    min_stake: 0.01 # min stake can be set by a node (boundary for all nodes)
    max_stake: 20000.0 # max stake can be set by a node (boundary for all nodes)
    min_stake_per_delegate: 1
    # min possible allocations size in bytes allowed by the SC
    min_alloc_size: 1048576
    # max challenge completion time of a blobber allowed by the SC
    max_challenge_completion_rounds: 1200
    # min blobber capacity allowed by the SC
    min_blobber_capacity: 10737418240
    # fraction of the allocation cost that is locked in the cancellation charge
    cancellation_charge: 0.2
    # users' read pool related configurations
    readpool:
      min_lock: 0.0 # tokens
    # users' write pool related configurations
    writepool:
      min_lock: 0.1 # tokens
    # stake pool configurations
    stakepool:
      # minimal lock for a delegate pool
      min_lock: 0.1 # tokens
      kill_slash: 0.5
    # following settings are for free storage rewards
    #
    # summarized amount for all assigner's lifetime
    max_total_free_allocation: 10000 #todo figure out how it works
    # the limit of tokens can be minted on each free_allocation_request
    max_individual_free_allocation: 100
    # allocation settings for free storage
    # these values are applied to all free allocations
    free_allocation_settings:
      data_shards: 4
      parity_shards: 2
      read_pool_fraction: 0
      read_price_range:
        max: 0
        min: 0
      size: 10000000
      write_price_range:
        max: 1
        min: 0
    validator_reward: 0.025
    # blobber_slash represents blobber's stake penalty when a challenge not
    # passed
    blobber_slash: 0.10
    # duration between health check after which a blobber or validator is considered inactive
    health_check_period: 90m
    # max prices for blobbers (tokens per GB)
    max_read_price: 7.0
    max_write_price: 7.0
    min_write_price: 0.001
    # max file size on blobber
    max_file_size: 40000000000000 # 5TB
    # max number of blobbers per allocation
    max_blobbers_per_allocation: 40
    #
    # challenges
    #
    # enable challenges
    challenge_enabled: true
    challenge_generation_gap : 3
    # number of validators per challenge
    validators_per_challenge: 3
    num_validators_rewarded: 10
    max_blobber_select_for_challenge: 5
    # max delegates per stake pool allowed by SC
    max_delegates: 200
    # max_charge allowed for blobbers; the charge is part of blobber rewards
    # goes to blobber's delegate wallets, other part goes to related stake
    # holders
    max_charge: 0.50
    # reward paid out every block
    block_reward:
      block_reward: 0.06
      block_reward_change_period: 125000000
      block_reward_change_ratio: 0.1
      qualifying_stake: 1
      trigger_period: 30
      gamma:
        alpha: 0.2
        a: 10
        b: 9
      zeta:
        i: 1
        k: 0.9
        mu: 0.2
    cost:
      update_settings: 143
      read_redeem: 664
      commit_connection: 743
      new_allocation_request: 1919
      update_allocation_request: 2692
      finalize_allocation: 1091
      cancel_allocation: 1163
      add_free_storage_assigner: 124
      free_allocation_request: 2132
      blobber_health_check: 97
      validator_health_check: 109
      update_blobber_settings: 338
      update_validator_settings: 247
      pay_blobber_block_rewards: 100 #todo
      challenge_response: 728
      add_validator: 348
      add_blobber: 266
      read_pool_lock: 170
      read_pool_unlock: 104
      write_pool_lock: 186
      stake_pool_lock: 187
      stake_pool_unlock: 119
      commit_settings_changes: 56
      generate_challenge: 600
      blobber_block_rewards: 794
      collect_reward: 181
      kill_blobber: 651
      kill_validator: 277
      shutdown_blobber: 597
      shutdown_validator: 227
  vestingsc:
    owner_id: 1746b06bb09f55ee01b33b5e2e055d6cc7a900cb57c0a3a5eaabb8a0e7745802
    min_lock: 0.01
    min_duration: "2m"
    max_duration: "2h"
    max_destinations: 3
    max_description_length: 20
    cost:
      trigger: 100
      unlock: 100
      add: 100
      stop: 100
      delete: 100
      vestingsc-update-settings: 100
  zcnsc:
    owner_id: 1746b06bb09f55ee01b33b5e2e055d6cc7a900cb57c0a3a5eaabb8a0e7745802
    min_mint: 1
    min_burn: 1
    min_stake: 0
    max_stake: 20000.0 # max stake can be set by a node (boundary for all nodes)
    min_stake_per_delegate : 1
    min_authorizers: 1
    percent_authorizers: 0.7
    max_delegates: 10
    max_fee: 100 #todo change the wording
    burn_address: "0000000000000000000000000000000000000000000000000000000000000000" #todo maybe we should use sc address
    health_check_period: 90m
    cost:
      mint: 100
      burn: 100
      add-authorizer: 100
      authorizer-health-check: 100
      delete-authorizer: 100
      add-to-delegate-pool: 100
      delete-from-delegate-pool: 100
