smart_contracts:
  faucetsc:
    owner_id: 1746b06bb09f55ee01b33b5e2e055d6cc7a900cb57c0a3a5eaabb8a0e7745802
    pour_amount: 1
    max_pour_amount: 10
    periodic_limit: 1000
    global_limit: 100000
    individual_reset: 3h
    global_reset: 48h
  interestpoolsc:
    owner_id: 1746b06bb09f55ee01b33b5e2e055d6cc7a900cb57c0a3a5eaabb8a0e7745802
    min_lock: 10
    apr: 0.1
    min_lock_period: 1m
    max_mint: 1500000.0
  minersc:
    owner_id: 1746b06bb09f55ee01b33b5e2e055d6cc7a900cb57c0a3a5eaabb8a0e7745802
    # miners
    max_n: 7 # 100
    min_n: 3 # 3
    # sharders
    max_s: 2 # 30
    min_s: 1 # 1
    # max delegates allowed by SC
    max_delegates: 200 #
    # DKG
    t_percent: .66 # of active
    k_percent: .75 # of registered
    x_percent: 0.70 # percentage of prev mb miners required to be part of next mb
    # etc
    min_stake: 0.0 # 0.01 # min stake can be set by a node (boundary for all nodes)
    max_stake: 100.0 # max stake can be set by a node (boundary for all nodes)
    start_rounds: 50
    contribute_rounds: 50
    share_rounds: 50
    publish_rounds: 50
    wait_rounds: 50
    # stake interests, will be declined every epoch
    interest_rate: 0.0 # [0; 1)
    # reward rate for generators, will be declined every epoch
    reward_rate: 1.0 # [0; 1)
    # share ratio is miner/block sharders rewards ratio, for example 0.1
    # gives 10% for miner and rest for block sharders
    share_ratio: 0.8 # [0; 1)
    # reward for a block
    block_reward: 0.21 # tokens
    # max service charge can be set by a generator
    max_charge: 0.5 # %
    # epoch is number of rounds before rewards and interest are decreased
    epoch: 15000000 # rounds
    # decline rewards every new epoch by this value (the block_reward)
    reward_decline_rate: 0.1 # [0; 1), 0.1 = 10%
    # decline interests every new epoch by this value (the interest_rate)
    interest_decline_rate: 0.1 # [0; 1), 0.1 = 10%
    # no mints after miner SC total mints reaches this boundary
    max_mint: 1500000.0 # tokens
    # if view change is false then reward round frequency is used to send rewards and interests
    reward_round_frequency: 250

  storagesc:
    owner_id: 1746b06bb09f55ee01b33b5e2e055d6cc7a900cb57c0a3a5eaabb8a0e7745802
    # the time_unit is a duration used as divider for a write price; a write
    # price measured in tok / GB / time_unit, where the time_unit is this
    # configuration; for example 1h, 24h (a day), 720h (a month -- 30 days);
    time_unit: "720h"
    min_stake: 0.01 # min stake can be set by a node (boundary for all nodes)
    max_stake: 100.0 # max stake can be set by a node (boundary for all nodes)
    # max_mint
    max_mint: 1500000.0 # tokens, max amount of tokens can be minted by SC
    # min possible allocations size in bytes allowed by the SC
    min_alloc_size: 1024
    # min possible allocation duration allowed by the SC
    min_alloc_duration: "5m"
    # max challenge completion time of a blobber allowed by the SC
    max_challenge_completion_time: "30m"
    # min blobber's offer duration allowed by the SC
    min_offer_duration: "10h"
    # min blobber capacity allowed by the SC
    min_blobber_capacity: 1024
    # users' read pool related configurations
    readpool:
      min_lock: 0.1 # toekns
      min_lock_period: 1m
      max_lock_period: 8760h
    # users' write pool related configurations
    writepool:
      min_lock: 0.1 # tokens
      min_lock_period: 2m
      max_lock_period: 8760h
    # stake pool configurations
    stakepool:
      # minimal lock for a delegate pool
      min_lock: 0.1 # tokens
      # interest_rate is tokens earned by a blobber for its stake
      interest_rate: 0.0
      # interest_interval is interval to pay interests for a stake
      interest_interval: 1m
    # following settings are for free storage rewards
    #
    # largest value you can have for the total allowed free storage
    # that a single user can assign
    max_total_free_allocation: 10000
    # maximum setting for the largest number of tokens permitted in
    # a free storage allocation
    max_individual_free_allocation: 100
    # allocation settings for free storage
    # these values are applied to all free allocations
    free_allocation_settings:
      # the free payment is split between read and write pool in the ratio
      # read_pool_fraction : (1-read_pool_fraction)
      read_pool_fraction: 0.2
      data_shards: 10
      parity_shards: 5
      size: 10000000000
      duration: 50h
      read_price_range:
        min: 0.0
        max: 0.04
      write_price_range:
        min: 0.0
        max: 0.04
      max_challenge_completion_time:  1m
    # validator_reward represents part of blobbers' rewards goes to validators
    validator_reward: 0.025
    # blobber_slash represents blobber's stake penalty when a challenge not
    # passed
    blobber_slash: 0.10
    # max prices for blobbers (tokens per GB)
    max_read_price: 100.0
    max_write_price: 100.0
    min_write_price: 0.1
    #
    # allocation cancellation
    #
    # failed_challenges_to_cancel is number of failed challenges of an
    # allocation to be able to cancel an allocation
    failed_challenges_to_cancel: 20
    # failed_challenges_to_revoke_min_lock is number of failed challenges
    # of a blobber to revoke its min_lock demand back to user; only part
    # not paid yet can go back
    failed_challenges_to_revoke_min_lock: 10
    #
    # challenges
    #
    # enable challenges
    challenge_enabled: true
    # number of challenges for MB per minute
    challenge_rate_per_mb_min: 1
    # max number of challenges can be generated at once
    max_challenges_per_generation: 100
    # max delegates per stake pool allowed by SC
    max_delegates: 200
    # max_charge allowed for blobbers; the charge is part of blobber rewards
    # goes to blobber's delegate wallets, other part goes to related stake
    # holders
    max_charge: 0.50
    # reward paid out every block
    block_reward:
      block_reward: 1
      qualifying_stake: 1
      sharder_ratio: 10
      miner_ratio: 40
      blobber_capacity_ratio: 10
      blobber_usage_ratio: 40
  vestingsc:
    owner_id: 1746b06bb09f55ee01b33b5e2e055d6cc7a900cb57c0a3a5eaabb8a0e7745802
    min_lock: 0.01
    min_duration: "2m"
    max_duration: "2h"
    max_destinations: 3
    max_description_length: 20

  zcn:
    min_mint_amount: 1
    percent_authorizers: 0.7
    min_authorizers: 1
    min_burn_amount: 1
    min_stake_amount: 0
    max_fee: 100
    burn_address: "0000000000000000000000000000000000000000000000000000000000000000"
