version: 1.0

logging:
  console: "false"
  level: "info"

development:
  state: false
  dkg: false

zerochain:
  id: "0afc093ffb509f059c55478bc1a60351cef7b4e9c008a53a6cc8241ca8617dfe"
  decimals: 10
  genesis_block:
    id: "ed79cae70d439c11258236da1dfa6fc550f7cc569768304623e8fbd7d70efae4"

server_chain:
  id: "0afc093ffb509f059c55478bc1a60351cef7b4e9c008a53a6cc8241ca8617dfe"
  owner: "65dfe7e15ca2f689edda6eff3d5c36e8c0975792fa443c5f5413fbca27c49567"
  decimals: 10
  tokens: 400000000
  genesis_block:
    id: "ed79cae70d439c11258236da1dfa6fc550f7cc569768304623e8fbd7d70efae4"
  block:
    max_block_size: 1000
    min_block_size: 100
    max_byte_size: 1638400
    consensus:
      threshold_by_count: 67 # percentage
      threshold_by_stake: 0
    generators: 10
    replicators: 4
    proposal:
      max_wait_time: 200
      wait_mode: dynamic # static or dynamic
    generation:
      timeout: 15
      transactions: 1000
      retry_wait_time: 5 #milliseconds
    reuse_txns: false
    storage:
      provider: blockstore.FSBlockStore # blockstore.FSBlockStore or blockstore.BlockDBStore
    validation:
      batch_size: 250
  round_range: 10000000
  transaction:
    payload:
      max_size: 98304 # bytes
    timeout: 10 # seconds
  client:
    discover: true
  messages:
    verification_tickets_to: all_miners # generator or all_miners
  state:
    prune_below_count: 100 # rounds

network:
  relay_time: 180 # milliseconds
  max_concurrent_requests: 10
  timeout:
    small_message: 1000 # milliseconds
    large_message: 3000 # milliseconds
