version: '3'
services:
  postgres:
    container_name: sharder-postgres-${SHARDER}
    image: postgres:14
    environment:
      POSTGRES_DB: events_db
      POSTGRES_PORT: 5432
      POSTGRES_HOST: sharder-postgres-${SHARDER}
      POSTGRES_USER: zchain_user
      POSTGRES_HOST_AUTH_METHOD: trust
      POSTGRES_PASSWORD: zchian
      SLOW_TABLESPACE_PATH: /var/lib/postgresql/hdd_ts
      SLOW_TABLESPACE: hdd_tablespace # this should match with the dbs.events.slowtablespace in 0chain.yaml
    volumes:
      - ../config/postgresql.conf:/etc/postgresql/postgresql.conf
      - ../sharder${SHARDER}/data/postgresql:/var/lib/postgresql/data
      - ../sql_script/:/docker-entrypoint-initdb.d/
    command: postgres -c config_file=/etc/postgresql/postgresql.conf
    restart: unless-stopped
    networks:
      default:

  sharder:
    container_name: sharder-${SHARDER}
    image: "sharder"
    environment:
      - POSTGRES_HOST=sharder-postgres-${SHARDER}
      - DOCKER=true
    depends_on:
      - postgres
    volumes:
      - ../config:/0chain/config
      - ../sharder${SHARDER}/log:/0chain/log
      - ../sharder${SHARDER}/data:/0chain/data
      - ../sharder${SHARDER}/data/blocks:/0chain/data/blocks
    ports:
      - "717${SHARDER}:717${SHARDER}"
    networks:
      default:
      testnet0:
        ipv4_address: 198.18.0.8${SHARDER}
    command: ./bin/sharder --deployment_mode 0 --keys_file config${KEYS_CONFIG_PATH}/b0snode${SHARDER}_keys.txt ${CLI_ARGS}
    restart: unless-stopped

networks:
  default:
    driver: bridge
  testnet0:
    external: true

volumes:
  data:
  config:
  bin:
