- id:  {{clientid[item.tags.Name].client}}
  public_key: {{clientid[item.tags.Name].public}}
  n2n_ip:  "{{item.tags.Name}}.{{blueprint.network_name}}.{{blueprint.network_domain}}"
  public_ip: "{{item.tags.Name}}.{{blueprint.network_name}}.{{blueprint.network_domain}}"
  port: "{{zchain.blueprint.ports[item.tags.role]}}"
  description: "{{ item.tags.Name }}.{{item.tags.region}}"

