name: "0Chain System Tests"

on:
  workflow_dispatch:
    inputs:
       system_tests_branch:
        description: 'system_tests branch containing the tests you wish to run'
        default: 'master'
        required: true
       zbox_cli_branch:
        description: '0Box CLI branch which the tests will use'
        default: 'staging'
        required: true
       zwallet_cli_branch:
        description: '0Wallet CLI branch which the tests will use'
        default: 'staging'
        required: true
       blobber_branch:
        description: 'blobber branch to deploy'
        default: 'staging'
        required: true
       validator_branch:
        description: 'validator branch to deploy'
        default: 'staging'
        required: true
       authorizer_branch:
         description: 'authorizer branch to deploy'
         default: 'staging'
         required: true
       zbox_branch:
        description: '0box branch to deploy'
        default: 'staging'
        required: true
       zblock_branch:
        description: '0block branch to deploy'
        default: 'staging'
        required: true
       explorer_branch:
        description: 'explorer branch to deploy'
        default: 'staging'
        required: true
       skip_tests:
        description: '(LAST RESORT ONLY) Skip system tests. This will allow a PR to merge without requiring a green test run.  *By using you certify that the code being merged is not causing system tests to fail*'
        default: 'FALSE'
        required: true
jobs:
  system-tests:
    uses: 0chain/actions/.github/workflows/manual_system_tests.yml@master
    with:
      system_tests_branch: ${{ github.event.inputs.system_tests_branch }}
      miner_branch: ${{ github.ref_name }}
      sharder_branch: ${{ github.ref_name }}
      zbox_cli_branch: ${{ github.event.inputs.zbox_cli_branch }}
      zwallet_cli_branch: ${{ github.event.inputs.zwallet_cli_branch }}
      blobber_branch: ${{ github.event.inputs.blobber_branch }}
      validator_branch: ${{ github.event.inputs.validator_branch }}
      zbox_branch: ${{ github.event.inputs.zbox_branch }}
      zblock_branch: ${{ github.event.inputs.zblock_branch }}
      authorizer_branch: ${{ github.event.inputs.authorizer_branch }}
      explorer_branch: ${{ github.event.inputs.explorer_branch }}
      zproxy_branch: staging
      zsearch_branch: staging
      zdns_branch: staging
      skip_tests: ${{ github.event.inputs.skip_tests }}
    secrets:
      SVC_ACCOUNT_SECRET: ${{ secrets.SVC_ACCOUNT_SECRET }}
      DEV1KC: ${{ secrets.DEV1KC }}
      DEV2KC: ${{ secrets.DEV2KC }}
      DEV3KC: ${{ secrets.DEV3KC }}
      DEV4KC: ${{ secrets.DEV4KC }}
      DEV5KC: ${{ secrets.DEV5KC }}
      SMART_CONTRACT_OWNER_WALLET_JSON: ${{ secrets.SMART_CONTRACT_OWNER_WALLET_JSON }}
