name: Test

on:
  [push]

jobs:
  lint:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2

    - name: Build Base
      run: ./docker.local/bin/build.base.sh

    - name: Run Linter
      run: ./docker.local/bin/linter.sh
