name: Unit test & Lint

on:
  push:
    branches: [ master, staging ]
  pull_request:
    branches: [ master, staging ]

jobs:
  build:
    runs-on: [self-hosted, build]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: '1.18'

      - name: Check msgp changes
        run: |
          sudo apt update
          sudo apt install build-essential nghttp2 libnghttp2-dev libssl-dev wget -y
          ./docker.local/bin/check.msgp.sh

      - name: Build Base
        run: ./docker.local/bin/build.base.sh

      - name: Check swagger generation
        run: docker.local/bin/test.swagger.sh

      - name: Run unit tests
        run: ./docker.local/bin/unit_test_build.sh

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v2
        with:
          files: ./code/coverage.txt
          flags: Unit-Tests
          verbose: true

  lint:
    runs-on: [ self-hosted, build ]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: '1.18'

      - name: Check msgp changes
        run: |
          sudo apt update -y
          sudo apt install build-essential nghttp2 libnghttp2-dev libssl-dev wget -y
          ./docker.local/bin/check.msgp.sh

      - name: Build Base
        run: ./docker.local/bin/build.base.sh

      - name: Check swagger generation
        run: docker.local/bin/test.swagger.sh

      - name: Run Linter
        run: ./docker.local/bin/linter.sh
