name: Unit tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Build Base
        run: ./docker.local/bin/build.base.sh

      - name: unit tests
        run: ./docker.local/bin/unit_test_build.sh