version: '3'
services:
  redis:
    image: "redis:alpine"
    container_name: ${AGENT_CONTAINER}-redis
    volumes:
      #CONFIG_VOLUME
      - /0chain/${AGENT_DIR}/config/redis:/0chain/config/redis

      #REDIS_VOLUME
      - /0chain/${AGENT_DIR}/data/redis:/0chain/data/redis
      - /0chain/${AGENT_DIR}/data/redis/state:/0chain/data/redis/state

    networks:
      default:
    sysctls:
      net.core.somaxconn: '511'

    #Start under user 0chain
    user: ${ZCHAIN_USER}:${ZCHAIN_GROUP}
    command: redis-server /0chain/config/redis/state.redis.conf

  redis_txns:
    image: "redis:alpine"
    container_name: ${AGENT_CONTAINER}-redis_txns
    volumes:
      #CONFIG_VOLUME
      - /0chain/${AGENT_DIR}/config/redis:/0chain/config/redis

      #REDIS_VOLUME
      - /0chain/${AGENT_DIR}/data/redis:/0chain/data/redis
      - /0chain/${AGENT_DIR}/data/redis/transactions:/0chain/data/redis/transactions

    networks:
      default:
    sysctls:
      net.core.somaxconn: '511'

    #Start under user 0chain
    user: ${ZCHAIN_USER}:${ZCHAIN_GROUP}
    command: redis-server /0chain/config/redis/transactions.redis.conf

  miner:
    environment:
      - DOCKER=true
    depends_on:
     - redis
     - redis_txns
    links:
      - redis:redis
      - redis_txns:redis_txns
    build:
      context: ${DOCKER_CODEBASE}
      dockerfile: ./docker.aws/build.miner/Dockerfile
      args:
        image_tag: ${PRIMARY_TAG}

    container_name: ${AGENT_CONTAINER}
    
    image: ${IMAGE_NAME}:${IMAGE_TAG}

    pid: "host"

    #Hard and soft are required properties.
    ulimits:
      nofile:
        hard: 32768
        soft: 32768

    volumes:

      #CONFIG_VOLUME
      - /0chain/${AGENT_DIR}/config:/0chain/config

      #LOG_VOLUME
      - /0chain/${AGENT_DIR}/log:/0chain/log

      #ROCKSDB_VOLUME
      - /0chain/${AGENT_DIR}/data/rocksdb:/0chain/data/rocksdb
      - /0chain/${AGENT_DIR}/data/rocksdb/state:/0chain/data/rocksdb/state


    logging:
      driver: "json-file"
      options:
        max-size: "10M"
        max-file: "10"
    ports:
      - ${AGENT_PORT}:${AGENT_PORT}

    restart: ${RESTART_POLICY}

    networks:
      default:

    #Start under user 0chain
    user: ${ZCHAIN_USER}:${ZCHAIN_GROUP}
    command: /0chain/bin/miner  --deployment_mode 0 --keys_file /0chain/config/miner.txt

networks:
  default:
    driver: bridge

